<div class="flex sub-page">
  <app-event-links></app-event-links>
  <article>
    <app-wic-header>WiCHacks</app-wic-header>
    <p>
      WiCHacks is a collaborative programming event in which participants create
      an app, website, game, or other piece of software over the course of the
      event. Hackathon participants are women, femme, and non-binary college
      students.
    </p>
    <h3 class="bold-text"
      >Learn more at <a href="https://wichacks.io/">wichacks.io.</a></h3
    >
    <iframe
      width="807"
      height="400"
      src="https://www.youtube.com/embed/OxlXmc-jViI"
      title="Women in Computing at RIT presents WiCHacks 2017"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </article>
</div>
