<div class="flex sub-page">
  <app-event-links></app-event-links>
  <article>
    <app-wic-header>Upcoming Calendar</app-wic-header>
    <p>
      All WiC events are planned by the Events committee! Events committee meets
      once a week, and together we brainstorm ideas and plan for all the various
      social events that occur throughout the year! Some events we help plan are
      the Halloween party, ice cream socials, Friendsgiving, and much more!
    </p>
    <iframe
      src="https://calendar.google.com/calendar/embed?src=wicatrit%40gmail.com&ctz=America%2FNew_York"
      style="border: 0"
      width="800"
      height="600"
      frameborder="0"
      scrolling="no"
    ></iframe>
  </article>
</div>
