#rit-logo {
    background-color: white;
}


mat-toolbar-row {
    padding: 0 40px;
}


mat-sidenav {
    margin-top: 15%;
    color: white;
    background-color: var(--accent);
    .flex-col {
        height: 80vh;
        align-items:flex-start;
        justify-content: space-around;
    }
}

.opacity {
    z-index: 0;
    display: static;
    height: 100vh;
    width: 100%;
    display: float;
    background-color: rgba(13, 0, 24, 0.454);
}