<mat-toolbar color="primary">
  <mat-toolbar-row id="rit-logo">
    <img src="../../../assets/ritlogo.png" alt="rit logo" width="250" height="24.5">
  </mat-toolbar-row>

  <mat-toolbar-row class="flex space-between">
    <button mat-icon-button>
      <img src="../../../assets/logo.png" width="75">
    </button>

    <div class="flex">
      <ng-template ngFor let-button [ngForOf]="toolbarButtons">
        <ng-template [ngIf]="button.links.length > 1" [ngIfElse]="buttonLink">
          <app-menu-button [links]="button.links" [title]="button.text"></app-menu-button>
        </ng-template>
        <ng-template #buttonLink>
          <button mat-button (click)="goToLink(button.links[0].link)">{{button.text}}</button>
        </ng-template>
      </ng-template>
    </div>
  </mat-toolbar-row>
</mat-toolbar>