.slideshow {
  width: 400px;
  height: 300px;
}

a {
  font-weight: bold;
  color: white;
}

#events {
  background-color: white;
}

#about,
#highlights {
  h2 {
    color: white
  }
  color: #fff;
  text-align: center;
  margin: auto auto;
}