footer {
    background-color: #EEEEEE;
    color: black;
    height: 80px;
}

#main-wrapper {
    background-color: white;
    min-height: 75vh;
}

.subscribe{
    a {
        color: white;
    }
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: var(--accent);
    color: #fff;
    border-radius: 50px;
    border-color: white;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    box-shadow: 2px 8px 8px rgba(41, 20, 84, 0.515)
  }