<button mat-fab color="primary" aria-label="Subscribe to Newsletter">
  <mat-icon>forward_to_inbox</mat-icon>
</button>

<div class="whitespace"></div>

<div class="parallax"></div>

<span>Rochester Institute of Technology</span>
<h1>Women in Computing</h1>

<section id="about">
<span>ABOUT US</span>
<p>Women in Computing is dedicated to promoting the success and advancement of women and all gender minorities in their academic and professional careers.
  <a href="url">Learn more about our mission</a> 
  <!-- replace with angular url  -->

</p>
</section>

<section id="events">

</section>
<div class="container">
<!-- <carousel [slides]="slides"></carousel>
</div> -->