<button mat-fab color="primary" aria-label="Subscribe to Newsletter" class="subscribeBttn">
  <mat-icon>forward_to_inbox</mat-icon>
</button>

<div class="whitespace"></div>

<div class="parallax">
  <div class="opacity">
    <h1 id="uni">Rochester Institute of Technology</h1>
    <h1 id="org">Women in Computing</h1>
  </div>
</div>

<section id="about">
<h1 class="sectionTitle">ABOUT US</h1>
<hr/>
<p class="sectionText">Women in Computing is dedicated to promoting the success and advancement of women and all gender minorities in their academic and professional careers.</p>
<p><a href="url">Learn more about our mission</a></p>
  <!-- replace with angular url  -->


</section>

<section id="events">
  <ng-container *ngFor="let event of events">
    <app-event-list-item [event]="event"></app-event-list-item>
  </ng-container>

</section>

<section id="highlights">
  <h1>Member Highlights</h1>
<div class="slideshow">
  <app-carousel [slides]="slides"></app-carousel>
</div>
</section>
