/* You can add global styles to this file, and also import other style files */
:root {
  --accent: #4D1E5B;
  --accent2: #FDC000;
  --text: #2b2b2b;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-toolbar-row {
  background-color: var(--accent);
}
h1 {
  text-transform: uppercase;
}
button {
  text-transform: uppercase;

}
section {
  box-sizing: border-box;
padding: 4em;
}
hr {
  border: 3px solid white;
  width: 50px;
}

.slideshow {
  display: flex;
  justify-content: center;
}

.subscribeBttn{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:var(--accent);
	color:#FFF;
	border-radius:50px;
  border-color: white;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

#about, #highlights {
  color: #fff;
text-align: center;
background-color: var(--accent);
margin: auto auto auto;

}


.parallax {
  /* The image used */
  background-image: url("assets/cyberrangeHomepage.PNG");
  //opacity: 0.5;

  /* Set a specific height */
  min-height: 500px;
  //height: 150px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .backbox {
    background-color: rgba(white, 0.3);
    width: auto;
    height: 100%;

    #uni {
      font-weight: 700;
      font-size: 1.2em;
      }

      #org {
        font-weight: 900;
        font-size: 2.5em;
        margin-top: .8em;
        line-height: 100%;
        color: var(--accent);
        text-transform: capitalize;
      }
  }
}


