<div class="wrapper">
  <div class="title">{{event.title}}</div>
  <div class="event flex">
    <div class="date">
      <span class="month">{{event.start.toLocaleString('default', { month: 'short' })}}</span>
      <span class="day">{{event.start.getDay()}}</span>
    </div>
    <div class="description">
      <div class="flex schedule event-text">
        <span class="icon material-symbols-outlined">
          schedule
          </span>
        <span class="event-text">{{ event.start | date: timeText}} - {{ event.end | date: timeText }}</span>
      </div>
      <div class="flex link event-text" *ngIf="event.link">
        <span class="icon material-symbols-outlined">
          open_in_new
          </span>
          <a class="event-text" [href]="event.link.link">{{event.link.text}}</a>
      </div>
      <div class="flex location event-text" *ngIf="event.location">
        <span class="icon material-symbols-outlined">
          location_on
          </span>
          <span class="event-text">{{event.location}}</span>
      </div>
    </div>
  </div>
</div>