<div class="flex sub-page">
  <app-wic-navbar [links]="links" title="Information"></app-wic-navbar>
  <article>
    <app-wic-header>After Hours</app-wic-header>
    <div class="carousel">
      <app-carousel [slides]="slides"></app-carousel>
    </div>
    <p>
      The Women in Computing (WiC) After Hours Program is a yearly event for
      women accepted into the B. Thomas Golisano College of Computing. This
      Spring it will be a Virtual program from March 26th-28th and April
      9th-11th. At After Hours you can get to know about RIT and WiC, as well as
      meet other accepted and current students. It is organized and hosted by
      Women in Computing students and in conjunction with the RIT Admission’s
      Office. It is a great opportunity to meet new friends and possibly your
      future roommate! This program is BY INVITATION ONLY. Don’t miss this
      opportunity to get connected to your home away from home! Curious about
      what it's like as a women in computing at RIT? Check out some of our
      current Student Stories! Invitations are sent to all female students who
      have been accepted to RIT's B. Thomas Golisano College of Computing and
      Information Sciences.
    </p>
  </article>
</div>
